.dashboard {
  /* background-color: #e1e2ef; */
  background-image: url("../../images/bg2.png");
}

.dashboard-bar {
  margin: 0, 1rem, 0.5rem, 1rem;
  background: #541b81;
  /* border-radius: 10px; */
  height: 50px;
  font-weight: 600;
  font-size: 16spx;
  line-height: 29px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashcards {
  /* border: 0px solid #9191e9; */
  border-radius: 10px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  height: 200px;
  color: #ffffff;
  padding-top: 1rem;
  /* background-color: #9191e9; */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.dashboard-cards {
  margin-top: 3rem;
  padding: 2rem;
}

.count {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
}

.dashcard-name {
}

.ducards {
  background: #541b81;
  border-radius: 10px;
  height: 150px;
  padding-top: 1.5rem;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.downup {
  padding: 6rem;
}

.ducard-name {
  color: #d9d9d9;
  font-weight: 600;
  font-size: 18px;
  margin-top: 0.5rem;
}

.downup-card {
  cursor: pointer;
}

.download_file_btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  .dashcards {
    margin-bottom: 2rem;
  }
  .downup-card {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 599px) {
  .dashcards {
    margin-bottom: 2rem;
  }
  .downup-card {
    margin-bottom: 2rem;
  }
}
