.logo-img {
  height: 55px;
  margin-top: 0;
}

.navbar {
  background-color: #e1e2ef;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-option {
  font-weight: 600;
  font-size: 1rem;
  color: #541b81 !important;
  margin: 0.5rem;
}
.nav-item {
  text-decoration: none !important;
  font-size: 1rem;
  color: #541b81 !important;
}
.nav-btn {
  background-color: #541b81;
  border-radius: 30px;
  color: #fff8f8;
  text-decoration: none;
  font-weight: 400;
  width: 5rem;
  height: 2.5rem;
  align-items: center;
  padding-top: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.regLink {
  text-decoration: none;
}

.dropdown-toggle::after {
  display: none !important;
}

/* Medium screens (600px - 992px) */

@media screen and (min-width: 600px) and (max-width: 992px) {
  .navbar {
    width: 100%;
  }
  .nav-btn {
    font-size: 12px;

    width: 4rem;
    height: 2rem;
  }
}

@media screen and (max-width: 599px) {
  .nav-btn {
    font-size: 10px;

    width: 3rem;
    height: 2rem;
  }
  .logo-img {
    height: 40px;
  }
}
