.signin {
  /* background-image: url("../images/login-bg.png"); */
  color: #fff;
  background-color: #e1e2ef;
  /* margin-bottom: 3rem; */
}

.logo-img {
  margin-top: 2rem;
}

.login-box {
  margin-top: 2rem;
  background-color: #9191e9;
  margin-left: 30%;
  margin-right: 40%;
  width: 40%;
  /* border-radius: 36px; */
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-head {
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  /* align-items: flex-start; */
}

.form-grp {
  margin-top: 0.5rem;
  align-items: flex-start;
  text-align: left;
  margin-left: 3rem;
}

.check {
  margin-top: 2rem;

  text-align: left;
  margin-left: 3rem;
  margin-bottom: 0;
}

.form-ip {
  width: 90%;
  background: #fff;
  border: 0px solid #d9d9d9;
  border-radius: 5px;
  color: #4c4c4e;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  padding: 1rem;
}
.form-label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0.1rem;
}

.form-btn {
  margin-top: 1rem;
  background: #541b81;
  border-radius: 5px;
  border: 0px;
  height: 55px;
  width: 82%;
  color: #fff;
  font-weight: 400;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Forgot {
  font-weight: 400;
  color: #656565;
}

.already {
  font-weight: 400;
  padding-bottom: 2rem;
  color: #656565;
}

input {
  padding: 0px 0px;
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  .extra {
    height: 300px !important;
  }
  .login-box {
    margin-left: 30%;
    margin-right: 30%;
    width: 50%;
    /* border-radius: 36px; */
  }
  .form-ip {
    width: 100%;

    padding: 1rem;
  }
  .form-grp {
    margin-left: 0;
  }
  .form-btn {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .extra {
    height: 300px !important;
  }
  .login-box {
    margin-left: 12%;
    margin-right: 10%;
    width: 80%;
    /* border-radius: 36px; */
  }
  .form-ip {
    width: 100%;

    padding: 1rem;
  }
  .form-grp {
    margin-left: 0;
  }
  .form-btn {
    margin-left: 0;
    width: 100%;
  }
}
