.signin {
  /* background-image: url("../images/login-bg.png"); */
  color: #fff;
  background-color: #e1e2ef;
  /* margin-bottom: 3rem; */
}

.logo-img {
  margin-top: 2rem;
}

.login-box {
  margin-top: 3rem;
  background-color: #9191e9;
  margin-left: 25%;
  margin-right: 40%;
  width: 50%;
  border-radius: 36px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.form-head {
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  margin-left: 3rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  /* align-items: flex-start; */
}

.form-grp {
  margin-top: 0.5rem;
  align-items: flex-start;
  text-align: left;
  margin-left: 3rem;
}

.check {
  margin-top: 2rem;

  text-align: left;
  margin-left: 3rem;
  margin-bottom: 0;
}

.form-ip {
  width: 90%;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  color: #4c4c4e;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  padding: 1rem;
}
.form-label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.form-btn {
  margin-top: 3rem;
  background: #541b81;
  border-radius: 30px;
  height: 55px;
  width: 84%;
  color: #fff;
  font-weight: 400;
  margin-bottom: 1rem;
}

.Forgot {
  font-weight: 400;
}

.already {
  font-weight: 400;
  padding-bottom: 2rem;
}

input {
  padding: 0px 0px;
}
