.host-a-node {
  background-image: url("../../images/bg2.png");
  /* margin-bottom: 3rem; */
}

.host-a-node-bar {
  margin: 2% 5%;
  background: #541b81;
  border-radius: 10px;
  height: 100px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 29px;
  display: flex;
  align-items: center;
  padding-left: 35%;
  text-align: center !important;
  color: #f5f5f5;
}

.tandc {
  background-color: #f5f5f5;
  margin: 2% 5%;
  padding: 2%;
  text-align: left;
  border-radius: 10px;
}
.tandc-checkbox {
  margin-top: 5px;
}

.tandc-details {
  background-color: #f5f5f5;
  margin: 2% 5% 2% 5%;
  padding: 2%;
  text-align: left;
  border-radius: 10px;
}
.extraspace {
  height: 20px;
}
